.login-bg-container {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-input-box-container {
  background-color: #272727;
  min-height: 300px;
  border-radius: 8px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.website-logo {
  height: 100%;
  width: 100%;
  max-height: 80px;
  max-width: 200px;
}
.form-container {
  margin-top: 40px;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.input-field-container {
  border: #64748b 1px solid;
  border-radius: 6px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 300px;
  margin-top: 6px;
  padding: 5px;
}
.input-field {
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
  color: #64748b;
  font-family: 'Roboto';
  font-size: 13px;
}
.label-text {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 8px;
  font-weight: 500;
}
.login-button {
  background-color: #4f46e5;
  color: #f8fafc;
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: 500;
  border: none;
  border-radius: 6px;
  padding: 8px;
  min-width: 300px;
  cursor: pointer;
}
.error-message {
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 12px;
}
