.filters-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.filter-type-heading {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: large;
  text-align: start;
}
.options-list-container {
  list-style-type: none;
}
.option-list-item {
  line-height: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.check-box {
  width: 20px;
  height: 20px;
}
.label-text {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: large;
  font-weight: 400;
  margin-left: 10px;
}
